.auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.form-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.form-section h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.form-section p {
  color: #666;
  margin-bottom: 20px;
}

.form-section form {
  display: flex;
  flex-direction: column;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.sign-in-btn {
  background-color: #ef4444;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 15px;
}

.signup-link {
  text-align: center;
  font-size: 14px;
}

.signup-link a {
  color: #ef4444;
  font-weight: bold;
  text-decoration: none;
}

.image-section {
  flex: 1.; /* Increase the image section width */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7;
}

.image-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px; /* Leave space on the right for the icon */
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.toggle-password {
  position: absolute;
  top: 20%;
  transform: translateY(-200%);
  transform: translateX(-175%);
  cursor: pointer;
  color: #333446;
  font-size: 16px;
}

form input,
.password-wrapper input {
  width: 100%;       /* Adjust as needed */
  padding: 12px;
  margin-bottom: 17px;
  font-size: 14px;
}

